In [105]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
from io import StringIO

In [203]:

# Configuración del navegador
driver = webdriver.Chrome()

url = 'https://www.investing.com/equities/united-states'
driver.get(url)

time.sleep(5)

In [0]:
driver.find_element(By.ID, 'onetrust-accept-btn-handler').click()
time.sleep(2)
driver.find_element(By.CLASS_NAME, 'largeBannerCloser').click()

In [110]:

table_element = driver.find_element(By.ID,'cross_rate_markets_stocks_1')


table_html = table_element.get_attribute('outerHTML')

    # Utilizar pandas para leer la tabla HTML y convertirla a un DataFrame
df = pd.read_html(StringIO(table_html))[0]

    # Guardar el DataFrame en un archivo CSV
df.to_csv('tabla_datos.csv', index=False)

In [179]:
df_investing = pd.read_csv('tabla_datos.csv')
df_investing

,Unnamed: 0,Name,Last,High,Low,Chg.,Chg. %,Vol.,Time,Unnamed: 9
0,NaN,Tesla,235.45,238.75,232.33,+1.24,+0.53%,65.02M,24/11,NaN
1,NaN,NVIDIA,477.76,489.21,477.45,-9.40,-1.93%,29.37M,24/11,NaN
2,NaN,Apple,189.97,190.90,189.25,-1.34,-0.70%,24.04M,24/11,NaN
3,NaN,Ford Motor,10.40,10.53,10.28,+0.14,+1.36%,22.02M,24/11,NaN
4,NaN,Amazon.com,146.74,147.20,145.32,+0.03,+0.02%,21.61M,24/11,NaN
...,...,...,...,...,...,...,...,...,...,...
995,NaN,Education Management,0.00,0.00,0.00,0.00000,0.00%,0,03/08,NaN
996,NaN,First Bancshares,22.99,22.99,22.99,0.00,0.00%,0,13/11,NaN
997,NaN,Global Indemnity,33.31,34.99,33.30,+0.00,+0.00%,0,21/11,NaN
998,NaN,Ignite Nutra,0.00,0.00,0.00,0.000,0.00%,0,27/10,NaN
999,NaN,Gyrodyne of America,8.95,8.96,8.95,0.00,0.00%,0,22/11,NaN

In [180]:
df_investing = df.dropna(axis=1)
df_investing

,Name,Last,High,Low,Chg.,Chg. %,Vol.,Time
0,Tesla,235.45,238.75,232.33,+1.24,+0.53%,65.02M,24/11
1,NVIDIA,477.76,489.21,477.45,-9.40,-1.93%,29.37M,24/11
2,Apple,189.97,190.90,189.25,-1.34,-0.70%,24.04M,24/11
3,Ford Motor,10.40,10.53,10.28,+0.14,+1.36%,22.02M,24/11
4,Amazon.com,146.74,147.20,145.32,+0.03,+0.02%,21.61M,24/11
...,...,...,...,...,...,...,...,...
995,Education Management,0.00,0.00,0.00,0.00000,0.00%,0,03/08
996,First Bancshares,22.99,22.99,22.99,0.00,0.00%,0,13/11
997,Global Indemnity,33.31,34.99,33.30,+0.00,+0.00%,0,21/11
998,Ignite Nutra,0.00,0.00,0.00,0.000,0.00%,0,27/10
999,Gyrodyne of America,8.95,8.96,8.95,0.00,0.00%,0,22/11

In [115]:
driver.find_element(By.ID, 'filter_fundamental').click()

In [98]:
table_element = driver.find_element(By.ID,'fundamental')


table_html = table_element.get_attribute('outerHTML')

    # Utilizar pandas para leer la tabla HTML y convertirla a un DataFrame
df = pd.read_html(StringIO(table_html))[0]

    # Guardar el DataFrame en un archivo CSV
df.to_csv('tabla_datos2.csv', index=False)

In [181]:
df_investing2 = pd.read_csv('tabla_datos2.csv')
df_investing2

,Unnamed: 0,Name,Average Vol. (3m),Market Cap,Revenue,P/E Ratio,Beta
0,NaN,1-800 FLOWERS.COM,475.13K,571.1M,1.98B,-13.38,1.640
1,NaN,3D Systems,2.67M,717.88M,505.95M,-6.99,1.720
2,NaN,3M,3.65M,52.99B,32.75B,-7.16,0.980
3,NaN,8x8,2.23M,356.72M,737.22M,-5.90,1.320
4,NaN,AAON,382.59K,5.19B,1.12B,30.43,0.833
...,...,...,...,...,...,...,...
995,NaN,Yellow,189.10K,102.69M,4.85B,-1.29,NaN
996,NaN,Yum! Brands,1.51M,36.02B,7.06B,23.97,1.040
997,NaN,Zimmer Biomet,1.78M,23.7B,7.28B,49.93,1.020
998,NaN,Zions,2.77M,5.09B,3.08B,6.33,1.150
999,NaN,ZW Data Action Technologies,14.11K,6.2M,29.74M,-0.75,0.844

In [182]:
df_investing2 = df_investing2.drop(columns=['Unnamed: 0'])
df_investing2

,Name,Average Vol. (3m),Market Cap,Revenue,P/E Ratio,Beta
0,1-800 FLOWERS.COM,475.13K,571.1M,1.98B,-13.38,1.640
1,3D Systems,2.67M,717.88M,505.95M,-6.99,1.720
2,3M,3.65M,52.99B,32.75B,-7.16,0.980
3,8x8,2.23M,356.72M,737.22M,-5.90,1.320
4,AAON,382.59K,5.19B,1.12B,30.43,0.833
...,...,...,...,...,...,...
995,Yellow,189.10K,102.69M,4.85B,-1.29,NaN
996,Yum! Brands,1.51M,36.02B,7.06B,23.97,1.040
997,Zimmer Biomet,1.78M,23.7B,7.28B,49.93,1.020
998,Zions,2.77M,5.09B,3.08B,6.33,1.150
999,ZW Data Action Technologies,14.11K,6.2M,29.74M,-0.75,0.844

In [183]:
#Combinamos
df_investingFinal = pd.merge(df_investing, df_investing2, on='Name', how='inner')
df_investingFinal

,Name,Last,High,Low,Chg.,Chg. %,Vol.,Time,Average Vol. (3m),Market Cap,Revenue,P/E Ratio,Beta
0,Tesla,235.45,238.75,232.33,+1.24,+0.53%,65.02M,24/11,120.13M,748.48B,95.92B,69.51,2.280
1,NVIDIA,477.76,489.21,477.45,-9.40,-1.93%,29.37M,24/11,46.04M,1.18T,44.87B,64.17,1.690
2,Apple,189.97,190.90,189.25,-1.34,-0.70%,24.04M,24/11,57.32M,2.95T,383.29B,30.79,1.310
3,Ford Motor,10.40,10.53,10.28,+0.14,+1.36%,22.02M,24/11,50.32M,41.63B,174.23B,6.78,1.690
4,Amazon.com,146.74,147.20,145.32,+0.03,+0.02%,21.61M,24/11,51.86M,1.52T,554.03B,74.87,1.180
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Education Management,0.00,0.00,0.00,0.00000,0.00%,0,03/08,4.80K,126,NaN,NaN,-16.930
996,First Bancshares,22.99,22.99,22.99,0.00,0.00%,0,13/11,0.25K,56.23M,21.35M,8.81,0.235
997,Global Indemnity,33.31,34.99,33.30,+0.00,+0.00%,0,21/11,2.28K,465.46M,574.20M,21.35,0.417
998,Ignite Nutra,0.00,0.00,0.00,0.000,0.00%,0,27/10,1.81K,30,NaN,NaN,77.240
999,Gyrodyne of America,8.95,8.96,8.95,0.00,0.00%,0,22/11,0.97K,14.09M,NaN,-2.87,0.384

In [184]:
df_investingFinal['Time'] = pd.to_datetime(df_investingFinal['Time'] + '/2023', format='%d/%m/%Y', errors='coerce')

df_investingFinal

,Name,Last,High,Low,Chg.,Chg. %,Vol.,Time,Average Vol. (3m),Market Cap,Revenue,P/E Ratio,Beta
0,Tesla,235.45,238.75,232.33,+1.24,+0.53%,65.02M,2023-11-24,120.13M,748.48B,95.92B,69.51,2.280
1,NVIDIA,477.76,489.21,477.45,-9.40,-1.93%,29.37M,2023-11-24,46.04M,1.18T,44.87B,64.17,1.690
2,Apple,189.97,190.90,189.25,-1.34,-0.70%,24.04M,2023-11-24,57.32M,2.95T,383.29B,30.79,1.310
3,Ford Motor,10.40,10.53,10.28,+0.14,+1.36%,22.02M,2023-11-24,50.32M,41.63B,174.23B,6.78,1.690
4,Amazon.com,146.74,147.20,145.32,+0.03,+0.02%,21.61M,2023-11-24,51.86M,1.52T,554.03B,74.87,1.180
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Education Management,0.00,0.00,0.00,0.00000,0.00%,0,2023-08-03,4.80K,126,NaN,NaN,-16.930
996,First Bancshares,22.99,22.99,22.99,0.00,0.00%,0,2023-11-13,0.25K,56.23M,21.35M,8.81,0.235
997,Global Indemnity,33.31,34.99,33.30,+0.00,+0.00%,0,2023-11-21,2.28K,465.46M,574.20M,21.35,0.417
998,Ignite Nutra,0.00,0.00,0.00,0.000,0.00%,0,2023-10-27,1.81K,30,NaN,NaN,77.240
999,Gyrodyne of America,8.95,8.96,8.95,0.00,0.00%,0,2023-11-22,0.97K,14.09M,NaN,-2.87,0.384

In [185]:
df_investingFinal = df_investingFinal[df_investingFinal['Time'] >= '2023-11-24']
df_investingFinal

,Name,Last,High,Low,Chg.,Chg. %,Vol.,Time,Average Vol. (3m),Market Cap,Revenue,P/E Ratio,Beta
0,Tesla,235.45,238.75,232.33,+1.24,+0.53%,65.02M,2023-11-24,120.13M,748.48B,95.92B,69.51,2.280
1,NVIDIA,477.76,489.21,477.45,-9.40,-1.93%,29.37M,2023-11-24,46.04M,1.18T,44.87B,64.17,1.690
2,Apple,189.97,190.90,189.25,-1.34,-0.70%,24.04M,2023-11-24,57.32M,2.95T,383.29B,30.79,1.310
3,Ford Motor,10.40,10.53,10.28,+0.14,+1.36%,22.02M,2023-11-24,50.32M,41.63B,174.23B,6.78,1.690
4,Amazon.com,146.74,147.20,145.32,+0.03,+0.02%,21.61M,2023-11-24,51.86M,1.52T,554.03B,74.87,1.180
...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Auburn,20.32,20.64,20.32,+0.03,+0.15%,0.12K,2023-11-24,2.23K,71.16M,33.23M,7.25,0.591
963,Acorn,7.60,7.60,7.60,-0.1500,-1.94%,0.10K,2023-11-24,1.99K,18.5M,7.65M,-447.06,0.796
964,Hong Kong TV Network,7.09,7.09,7.09,+0.250,+3.65%,0.10K,2023-11-24,0.25K,302.9M,3.73B,NaN,NaN
966,Formula Systems ADR,61.40,61.40,60.62,-0.15,-0.24%,0.09K,2023-11-24,0.71K,947.33M,2.64B,14.57,0.482
967,First Capital,25.87,25.87,25.87,+0.34,+1.33%,0.07K,2023-11-24,3.98K,88.12M,41.66M,6.46,0.503

In [193]:
df_investingFinal['P/E Ratio'] = pd.to_numeric(df_investingFinal['P/E Ratio'], errors='coerce')

# Filtrar las filas donde el valor en la columna 'P/E Ratio' es menor o igual a 30
condition = df_investingFinal['P/E Ratio'] < 30
df_investingFinal = df_investingFinal.loc[condition].copy()

df_investingFinal

,Name,Last,High,Low,Chg.,Chg. %,Vol.,Time,Average Vol. (3m),Market Cap,Revenue,P/E Ratio,Beta
3,Ford Motor,10.400,10.53,10.2800,+0.14,+1.36%,22.02M,2023-11-24,50.32M,41.63B,174.23B,6.78,1.690
6,Riot Platforms,12.020,12.26,11.4200,+0.42,+3.62%,18.29M,2023-11-24,20.61M,2.48B,262.01M,-6.86,4.250
7,Mullen Automotive,0.175,0.18,0.1717,0.0000,0.00%,16.10M,2023-11-24,51.90M,72.29M,308.00K,-0.01,2.290
8,Bank of America,29.730,29.89,29.4800,+0.10,+0.34%,15.75M,2023-11-24,44.36M,235.28B,96.77B,8.29,1.390
9,Petroleo Brasileiro Petrobras ADR,15.330,15.74,15.2900,+0.03,+0.20%,15.48M,2023-11-24,18.40M,97.39B,536.32B,3.50,1.090
...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,Bank of South Carolina,12.200,12.20,12.2000,+0.00,+0.00%,0.15K,2023-11-24,7.68K,70.73M,20.68M,11.40,0.478
962,Auburn,20.320,20.64,20.3200,+0.03,+0.15%,0.12K,2023-11-24,2.23K,71.16M,33.23M,7.25,0.591
963,Acorn,7.600,7.60,7.6000,-0.1500,-1.94%,0.10K,2023-11-24,1.99K,18.5M,7.65M,-447.06,0.796
966,Formula Systems ADR,61.400,61.40,60.6200,-0.15,-0.24%,0.09K,2023-11-24,0.71K,947.33M,2.64B,14.57,0.482
967,First Capital,25.870,25.87,25.8700,+0.34,+1.33%,0.07K,2023-11-24,3.98K,88.12M,41.66M,6.46,0.503

In [195]:
df_investingFinal = df_investingFinal.dropna()
df_investingFinal

,Name,Last,High,Low,Chg.,Chg. %,Vol.,Time,Average Vol. (3m),Market Cap,Revenue,P/E Ratio,Beta
3,Ford Motor,10.400,10.53,10.2800,+0.14,+1.36%,22.02M,2023-11-24,50.32M,41.63B,174.23B,6.78,1.690
6,Riot Platforms,12.020,12.26,11.4200,+0.42,+3.62%,18.29M,2023-11-24,20.61M,2.48B,262.01M,-6.86,4.250
7,Mullen Automotive,0.175,0.18,0.1717,0.0000,0.00%,16.10M,2023-11-24,51.90M,72.29M,308.00K,-0.01,2.290
8,Bank of America,29.730,29.89,29.4800,+0.10,+0.34%,15.75M,2023-11-24,44.36M,235.28B,96.77B,8.29,1.390
9,Petroleo Brasileiro Petrobras ADR,15.330,15.74,15.2900,+0.03,+0.20%,15.48M,2023-11-24,18.40M,97.39B,536.32B,3.50,1.090
...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,Bank of South Carolina,12.200,12.20,12.2000,+0.00,+0.00%,0.15K,2023-11-24,7.68K,70.73M,20.68M,11.40,0.478
962,Auburn,20.320,20.64,20.3200,+0.03,+0.15%,0.12K,2023-11-24,2.23K,71.16M,33.23M,7.25,0.591
963,Acorn,7.600,7.60,7.6000,-0.1500,-1.94%,0.10K,2023-11-24,1.99K,18.5M,7.65M,-447.06,0.796
966,Formula Systems ADR,61.400,61.40,60.6200,-0.15,-0.24%,0.09K,2023-11-24,0.71K,947.33M,2.64B,14.57,0.482
967,First Capital,25.870,25.87,25.8700,+0.34,+1.33%,0.07K,2023-11-24,3.98K,88.12M,41.66M,6.46,0.503

In [197]:
df_investingFinal['Low'] = pd.to_numeric(df_investingFinal['Low'], errors='coerce')
df_investingFinal['P/E Ratio'] = pd.to_numeric(df_investingFinal['P/E Ratio'], errors='coerce')
df_investingFinal['EPS'] = df_investingFinal['Low'] / df_investingFinal['P/E Ratio']
df_investingFinal

,Name,Last,High,Low,Chg.,Chg. %,Vol.,Time,Average Vol. (3m),Market Cap,Revenue,P/E Ratio,Beta,EPS
3,Ford Motor,10.400,10.53,10.2800,+0.14,+1.36%,22.02M,2023-11-24,50.32M,41.63B,174.23B,6.78,1.690,1.516224
6,Riot Platforms,12.020,12.26,11.4200,+0.42,+3.62%,18.29M,2023-11-24,20.61M,2.48B,262.01M,-6.86,4.250,-1.664723
7,Mullen Automotive,0.175,0.18,0.1717,0.0000,0.00%,16.10M,2023-11-24,51.90M,72.29M,308.00K,-0.01,2.290,-17.170000
8,Bank of America,29.730,29.89,29.4800,+0.10,+0.34%,15.75M,2023-11-24,44.36M,235.28B,96.77B,8.29,1.390,3.556092
9,Petroleo Brasileiro Petrobras ADR,15.330,15.74,15.2900,+0.03,+0.20%,15.48M,2023-11-24,18.40M,97.39B,536.32B,3.50,1.090,4.368571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,Bank of South Carolina,12.200,12.20,12.2000,+0.00,+0.00%,0.15K,2023-11-24,7.68K,70.73M,20.68M,11.40,0.478,1.070175
962,Auburn,20.320,20.64,20.3200,+0.03,+0.15%,0.12K,2023-11-24,2.23K,71.16M,33.23M,7.25,0.591,2.802759
963,Acorn,7.600,7.60,7.6000,-0.1500,-1.94%,0.10K,2023-11-24,1.99K,18.5M,7.65M,-447.06,0.796,-0.017000
966,Formula Systems ADR,61.400,61.40,60.6200,-0.15,-0.24%,0.09K,2023-11-24,0.71K,947.33M,2.64B,14.57,0.482,4.160604
967,First Capital,25.870,25.87,25.8700,+0.34,+1.33%,0.07K,2023-11-24,3.98K,88.12M,41.66M,6.46,0.503,4.004644

In [199]:
df_investingFinal = df_investingFinal[df_investingFinal['EPS'] >= 0].copy()
df_investingFinal

,Name,Last,High,Low,Chg.,Chg. %,Vol.,Time,Average Vol. (3m),Market Cap,Revenue,P/E Ratio,Beta,EPS
3,Ford Motor,10.40,10.53,10.28,+0.14,+1.36%,22.02M,2023-11-24,50.32M,41.63B,174.23B,6.78,1.690,1.516224
8,Bank of America,29.73,29.89,29.48,+0.10,+0.34%,15.75M,2023-11-24,44.36M,235.28B,96.77B,8.29,1.390,3.556092
9,Petroleo Brasileiro Petrobras ADR,15.33,15.74,15.29,+0.03,+0.20%,15.48M,2023-11-24,18.40M,97.39B,536.32B,3.50,1.090,4.368571
12,Alphabet A,136.69,138.13,135.99,-1.80,-1.30%,12.51M,2023-11-24,26.73M,1.72T,297.13B,26.38,1.050,5.155042
14,Pfizer,30.50,30.70,30.38,+0.18,+0.59%,11.13M,2023-11-24,28.13M,172.22B,68.54B,16.44,0.579,1.847932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,Citizens,10.34,10.34,10.30,+0.09,+0.83%,0.16K,2023-11-24,5.41K,57.57M,41.09M,11.23,0.044,0.917186
961,Bank of South Carolina,12.20,12.20,12.20,+0.00,+0.00%,0.15K,2023-11-24,7.68K,70.73M,20.68M,11.40,0.478,1.070175
962,Auburn,20.32,20.64,20.32,+0.03,+0.15%,0.12K,2023-11-24,2.23K,71.16M,33.23M,7.25,0.591,2.802759
966,Formula Systems ADR,61.40,61.40,60.62,-0.15,-0.24%,0.09K,2023-11-24,0.71K,947.33M,2.64B,14.57,0.482,4.160604
967,First Capital,25.87,25.87,25.87,+0.34,+1.33%,0.07K,2023-11-24,3.98K,88.12M,41.66M,6.46,0.503,4.004644

In [202]:
df_investingFinal.to_csv('finInvesting.csv', index=False)